In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# creating a Path
path =r'C:\Users\91928\Documents\Instacart Basket Analysis\Data\Prepared Data'

In [3]:
#Creating a dataframe
df_ords_prods_merge_updated = pd.read_pickle(os.path.join(path,'ords_prods_merge_updated.pkl'),compression='infer')

In [4]:
df_ords_prods_merge_updated.shape

(32641279, 20)

In [5]:
#creating a subset of entire data frame
df_ords_prods_merge_updated_subset = df_ords_prods_merge_updated[:1000000]

In [6]:
df_ords_prods_merge_updated_subset.shape

(1000000, 20)

In [7]:
df_ords_prods_merge_updated_subset.isnull().sum()

Unnamed: 0_x                  0
product_id                    0
product_name                  0
aisle_id                      0
department_id                 0
prices                        0
Unnamed: 0_y                  0
order_id                      0
user_id                       0
eval_set                      0
order_number                  0
order_day                     0
order_hour_of_day             0
days_since_prior_order    66205
add_to_cart_order             0
reordered                     0
_merge                        0
Busiest Day                   0
Busiest Days                  0
busiest_period_of_day         0
dtype: int64

## Grouping using pandas for subset

In [9]:
    df_ords_prods_merge_updated_subset.groupby('product_name')

In [8]:
#aggregating data with agg() for mean
df_ords_prods_merge_updated_subset.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1.0              15.577493
2.0              17.320781
3.0              16.084944
4.0              17.530458
5.0              14.763075
6.0              16.658449
7.0              17.031590
8.0              15.076662
9.0              15.447580
10.0             18.681852
11.0             15.447411
12.0             14.327957
13.0             16.548642
14.0             16.960241
15.0             16.121948
16.0             17.803851
17.0             15.593633
18.0             19.674252
19.0             16.899756
20.0             16.255442
21.0             25.535479

In [13]:
#other way
df_ords_prods_merge_updated_subset.groupby('department_id')['order_number'].mean()

department_id
1.0     15.577493
2.0     17.320781
3.0     16.084944
4.0     17.530458
5.0     14.763075
6.0     16.658449
7.0     17.031590
8.0     15.076662
9.0     15.447580
10.0    18.681852
11.0    15.447411
12.0    14.327957
13.0    16.548642
14.0    16.960241
15.0    16.121948
16.0    17.803851
17.0    15.593633
18.0    19.674252
19.0    16.899756
20.0    16.255442
21.0    25.535479
Name: order_number, dtype: float64

In [15]:
#performing multiple aggregtion
df_ords_prods_merge_updated_subset.groupby('department_id').agg({'order_number': ['mean','max','min']})

              order_number
                      mean   max  min
department_id
1.0              15.577493  99.0  1.0
2.0              17.320781  96.0  1.0
3.0              16.084944  99.0  1.0
4.0              17.530458  99.0  1.0
5.0              14.763075  99.0  1.0
6.0              16.658449  99.0  1.0
7.0              17.031590  99.0  1.0
8.0              15.076662  98.0  1.0
9.0              15.447580  99.0  1.0
10.0             18.681852  99.0  1.0
11.0             15.447411  99.0  1.0
12.0             14.327957  99.0  1.0
13.0             16.548642  99.0  1.0
14.0             16.960241  99.0  1.0
15.0             16.121948  99.0  1.0
16.0             17.803851  99.0  1.0
17.0             15.593633  99.0  1.0
18.0             19.674252  99.0  1.0
19.0             16.899756  99.0  1.0
20.0             16.255442  99.0  1.0
21.0             25.535479  98.0  1.0

In [9]:
#Aggregating Data with transform()
df_ords_prods_merge_updated_subset['max_order'] = df_ords_prods_merge_updated_subset.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\91928\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df_ords_prods_merge_updated_subset

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_day,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,Busiest Day,Busiest Days,busiest_period_of_day,max_order
0,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1987.0,3139998.0,138.0,prior,...,6.0,11.0,3.0,5.0,0.0,both,Regular Day,Regular Days,Most orders,30.0
1,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1989.0,1977647.0,138.0,prior,...,6.0,17.0,20.0,1.0,1.0,both,Regular Day,Regular Days,Average orders,30.0
2,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,11433.0,389851.0,709.0,prior,...,0.0,21.0,6.0,20.0,0.0,both,Busiest day,Busiests Days,Average orders,5.0
3,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,12198.0,652770.0,764.0,prior,...,3.0,13.0,NaN,10.0,0.0,both,Regular Day,Slowest Days,Most orders,3.0
4,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,12200.0,1813452.0,764.0,prior,...,4.0,17.0,9.0,11.0,1.0,both,Least Busy,Slowest Days,Average orders,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2078.0,2078.0,Unsalted Pure Irish Butter,36.0,16.0,13.5,1707702.0,2280887.0,102527.0,prior,...,6.0,14.0,6.0,1.0,1.0,both,Regular Day,Regular Days,Most orders,41.0
999996,2078.0,2078.0,Unsalted Pure Irish Butter,36.0,16.0,13.5,1707755.0,3310791.0,102530.0,prior,...,4.0,17.0,NaN,13.0,0.0,both,Least Busy,Slowest Days,Average orders,3.0
999997,2078.0,2078.0,Unsalted Pure Irish Butter,36.0,16.0,13.5,1707756.0,1704867.0,102530.0,prior,...,2.0,17.0,30.0,4.0,1.0,both,Regular Day,Regular Days,Average orders,3.0
999998,2078.0,2078.0,Unsalted Pure Irish Butter,36.0,16.0,13.5,1707757.0,629818.0,102530.0,prior,...,6.0,18.0,4.0,3.0,1.0,both,Regular Day,Regular Days,Average orders,3.0
999999,2078.0,2078.0,Unsalted Pure Irish Butter,36.0,16.0,13.5,1707992.0,2328893.0,102544.0,prior,...,5.0,9.0,1.0,1.0,0.0,both,Regular Day,Regular Days,Most orders,11.0

In [11]:
#creating the loyalty flag with loc[] function
df_ords_prods_merge_updated_subset.loc[df_ords_prods_merge_updated_subset['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge_updated_subset.loc[(df_ords_prods_merge_updated_subset['max_order'] <= 40) & (df_ords_prods_merge_updated_subset['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge_updated_subset.loc[df_ords_prods_merge_updated_subset['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

C:\Users\91928\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\91928\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [12]:
df_ords_prods_merge_updated_subset[['user_id','max_order','loyalty_flag']].head(30)

    user_id  max_order      loyalty_flag
0     138.0       30.0  Regular customer
1     138.0       30.0  Regular customer
2     709.0        5.0      New customer
3     764.0        3.0      New customer
4     764.0        3.0      New customer
5     777.0       16.0  Regular customer
6     825.0        3.0      New customer
7     910.0       12.0  Regular customer
8    1052.0       18.0  Regular customer
9    1052.0       18.0  Regular customer
10   1379.0        6.0      New customer
11   1480.0       41.0    Loyal customer
12   1480.0       41.0    Loyal customer
13   1480.0       41.0    Loyal customer
14   1494.0        9.0      New customer
15   1494.0        9.0      New customer
16   1494.0        9.0      New customer
17   1540.0       28.0  Regular customer
18   1540.0       28.0  Regular customer
19   1540.0       28.0  Regular customer
20   1540.0       28.0  Regular customer
21   1540.0       28.0  Regular customer
22   1540.0       28.0  Regular customer
23   1540.0       28.0  Regular customer
24   1540.0       28.0  Regular customer
25   1540.0       28.0  Regular customer
26   1540.0       28.0  Regular customer
27   1540.0       28.0  Regular customer
28   1540.0       28.0  Regular customer
29   1540.0       28.0  Regular customer

In [13]:
#counting the frequency of loyalty flag
df_ords_prods_merge_updated_subset['loyalty_flag'].value_counts()

Regular customer    473070
Loyal customer      287917
New customer        239013
Name: loyalty_flag, dtype: int64