Merging products_checked.csv with orders_products_combined.pkl

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
#importing products_checked.csv
path2 = r'C:\Users\91928\Documents\Instacart Basket Analysis\Data\Prepared Data'
df_prods = pd.read_csv(os.path.join(path2,'products_checked.csv'),index_col = False)

In [4]:
df_orders_products_combined = pd.read_pickle(os.path.join(path2,'orders_products_combined.pkl'),compression='infer')

In [5]:
#shape of the data frame
df_orders_products_combined.shape

(32640698, 12)

In [6]:
#merging df_prods with df_orders_products_combined with inner join
df_prods_merged = df_prods.merge(df_orders_products_combined ,on = 'product_id')

In [7]:
df_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_day,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5.0,0.0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1.0,1.0,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20.0,0.0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10.0,0.0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11.0,1.0,both

In [10]:
#shape of the merged DF
df_prods_merged.shape

(32404859, 17)

In [11]:
# results of the merge using the merge flag
df_prods_merged['_merge'].value_counts()

both          32404859
right_only           0
left_only            0
Name: _merge, dtype: int64

In [12]:
#merging df_prods with df_orders_products_combined with outer join
df_prods_merged_outer = df_prods.merge(df_orders_products_combined, on = 'product_id',how = 'outer')

In [14]:
df_prods_merged_outer.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_day,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1987.0,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both
1,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1989.0,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both
2,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,11433.0,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both
3,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,12198.0,652770.0,764.0,prior,1.0,3.0,13.0,NaN,10.0,0.0,both
4,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,12200.0,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both

In [15]:
# results of the merge using the merge flag
df_prods_merged_outer['_merge'].value_counts()

both          32435059
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [18]:
#Export the newly created dataframe as ords_prods_merge.pkl in a pickle format
df_prods_merged_outer.to_pickle(os.path.join(path2,'ords_prods_merge.pkl'))

In [8]:
df_prods_merged_outer.columns

NameError: name 'df_prods_merged_outer' is not defined