## importing libraries

In [2]:
# import libraries

import pandas as pd
import numpy as np
import os

## Datatypes

In [ ]:
# integer

In [3]:
x=3

In [4]:
x

3

In [6]:
print(x)
type(x)

3

int

In [ ]:
#Float Numbers

In [10]:
y=4.322 -3.322
print(y)
type(y)

1.0

float

In [9]:
z= "India"
print(z)
type(z)

India

str

In [13]:
x=x-2
x

-3

In [15]:
x= 8
print(x)

8

In [18]:
x = x+2
print(x)

a = 12

b = a +12
print(b)

12
24

In [24]:
h = "Hello "
d = "Febin"
print(h+d)

e= 'GeorgeKutty '
e*4

Hello Febin

'GeorgeKutty GeorgeKutty GeorgeKutty GeorgeKutty '

In [26]:
x = 2.012
y = 2.012

print(x == y)

True