## Data Wrangling

In [1]:
#impoting libraries
import pandas as pd
import numpy as np
import os

In [7]:
#Importing data
df_ords = pd.read_csv(r"C:\Users\91928\Documents\Instacart Basket Analysis\Data\Original Data\orders.csv",index_col = False)

In [10]:
df_prods = pd.read_csv (r"C:\Users\91928\Documents\Instacart Basket Analysis\Data\Original Data\products.csv",index_col = False)

In [21]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
df_ords_2 = df_ords.drop(columns = ['eval_set'])

In [17]:
df_ords_2.shape

(3421083, 6)

In [20]:
#finding NaN
df_ords['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [25]:
df_prods['product_id'].value_counts(dropna = False)

462      2
26808    2
35306    2
6800     2
18458    2
        ..
17053    1
19100    1
29339    1
31386    1
2049     1
Name: product_id, Length: 49686, dtype: int64

In [27]:
df_ords.rename(columns ={ 'order_dow' : 'orders_day_of_week'},inplace = True)

In [2]:
df_ords.head()

NameError: name 'df_ords' is not defined

In [30]:
#changing the datatype of a column
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [31]:
df_ords['order_id'].dtype

dtype('O')